<div class="main-container">
    <section class="note-list-section">
        <h2>Notes</h2>
        <hr class="notes-section-hr">
        <button (click)="createNote()" class="create-note-button">Create Note</button>
        <button (click)="fileInput.click()" class="upload-note-button">Upload Note <input #fileInput class="upload-input" type="file" accept=".md" required (change)="uploadFile($event)" /></button>
        <div class="notes-list">
            <div *ngFor="let note of notes.reverse()" class="note" (click)="loadNote(note.id!)" >
                <div class="note-list-title">
                    <div>{{note.title}}</div>
                    <span (click)="deleteNote(note.id!)" class="material-symbols-outlined">delete</span>
                </div>
                <hr class="notes-hr">
            </div>
        </div>
    </section>
    <section class="markdown-section">
        <div class="markdown-header">
            <h2>Markdown</h2>
            <button class="check-grammar-button" (click)="navigateToGrammarCheck(selectedNote.id)">Check grammar</button>
        </div>
        <hr class="content-section-hr">
        <form class="markdown-form">
            <input class="title-input" type="text" name="title" [(ngModel)]="selectedNote.title">
            <textarea class="markdownContent-input" name="markdownContent" required="required" [(ngModel)]="selectedNote.markdownContent"></textarea>
            <button (click)="updateNote()" class="save-changes-button"> Save changes and convert<span class="material-symbols-outlined">arrow_right_alt</span></button>
        </form>
    </section>
    <section class="html-section">
        <h2>HTML</h2>
        <hr class="content-section-hr">
        <div class="html-div">
            <div class="html-title">{{selectedNote.title}}</div>
            <div class="html-content">{{selectedNote.htmlContent}}</div>
        </div>
    </section>
</div>