.main-container{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;

}

.note-list-section {
    display: flex;
    flex-direction: column;
    background-color: #2F4156;
    color: #F5EFEB;
    height: 100%;
    width: 20%;
    
}

h2{	
    font-size: 3rem;
    margin: 20px;
}

.notes-section-hr {
    border: 1px solid #F5EFEB;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;

}

.content-section-hr{
    border: 1px solid #2F4156;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;

}

button{
    color: #2F4156;
    min-height: 40px;
    border-radius: 100px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

}

.create-note-button{
    background-color: #C8D9E6;
    margin: 30px 20px 20px 20px;
}

.upload-note-button {
    margin: 0px 20px 20px 20px;
    background-color: #F5EFEB;
}

.upload-input {
    display: none;
}

.notes-list {
    margin: 20px;
    overflow-y: auto;
    overflow-x: hidden; 
}

.note-list-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.note-list-title span {
    margin-right: 15px;
}

.note{
    height: 50px;
    cursor: pointer;
}

.notes-hr{
    margin-right: 20px;
    margin-bottom: 0px;
    border: 1px solid #f5efeb9f;
    border-radius: 5px;
}

.markdown-section{
    display: flex;
    flex-direction: column;
    background-color: #F5EFEB;
    color: #2F4156;
    height: 100%;
    width: 40%;
}

.markdown-form, .html-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

input, textarea {
    border-radius: 15px;
    border: none;
    padding: 20px;
    outline: none;
    width: 95%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    
}

.title-input{
    font-size: 1.5rem;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.markdownContent-input {
    font-size: 1rem;
    height: 75%;
    resize: none;
    margin-bottom: 20px;
}

.save-changes-button {
    display: flex;
    width: 300px;
    background-color: #C8D9E6;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.html-section{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    color: #2F4156;
    height: 100%;
    width: 40%;
}

.html-title {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 15px;
    border: none;
    outline: none;
    width: 95%;
    box-sizing: border-box;
    background-color: #F5EFEB;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.html-content {
    font-size: 1rem;
    height: 75%;
    resize: none;
    margin-bottom: 20px;
    border-radius: 15px;
    border: none;
    padding: 20px;
    outline: none;
    width: 95%;
    box-sizing: border-box;
    background-color: #F5EFEB;
    overflow-y: auto;
    overflow-x: hidden; 
    }