<div class="main-container">
    <section class="note-list-section">
        <h2>Notes</h2>
        <hr class="notes-section-hr">
        <button (click)="createNote()" class="create-note-button">Create Note</button>
        <button class="upload-note-button">Upload Note</button>
        <div class="notes-list">
            <div *ngFor="let note of notes.reverse()" class="note" (click)="loadNote(note.id!)" >
                <div>{{note.title}}</div>
                <hr class="notes-hr">
            </div>
        </div>
    </section>
    <section class="markdown-section">
        <h2>Markdown</h2>
        <hr class="content-section-hr">
        <form class="markdown-form">
            <input class="title-input" type="text" name="title" [(ngModel)]="selectedNote.title">
            <textarea class="markdownContent-input" name="markdownContent" required="required" [(ngModel)]="selectedNote.markdownContent"></textarea>
            <button (click)="updateNote()" class="save-changes-button"> Save changes</button>
        </form>
    </section>
    <section class="html-section">
        <h2>HTML</h2>
        <hr class="content-section-hr">
        <div class="html-div">
            <div class="html-title">{{selectedNote.title}}</div>
            <div class="html-content">{{selectedNote.htmlContent}}</div>
        </div>
    </section>
</div>