<div class="main-container">
    <section class="markdown-renderer-section">
        <div class="markdown-renderer-header">
            <h2>Markdown renderer</h2>
            <div class="buttons-div">
                <button class="save-changes-button">Save changes</button>
                <button routerLink="/note-list" class="cancel-button">Cancel</button>
            </div>
        </div>
        <hr class="titles-hr">
        <div class="markdown-renderer-div">
            <div class="note-title">{{note.title}}</div>
            <textarea class="note-content-input" name="markdownContent" required="required">{{note.markdownContent}}</textarea>
        </div>
    </section>
    <section class="grammar-error-section">
        <div class="grammar-error-header">
            <h2>Grammar corrections</h2>
            <button (click)="checkGrammar()">Check grammar</button>
        </div>
        <hr class="titles-hr">
        <div class="corrections-div">
            <div *ngFor="let correction of grammarResponse" class="correction">
                <div><strong>Error message:</strong> {{correction.message}}</div>
                <div><strong>Found in sentence:</strong> {{correction.sentence}}</div>
                <div><strong>Fix suggestions: </strong> {{correction.replacements}}</div>
            </div>
        </div>
    </section>
</div>